<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome Symfony!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% include "@Blog/partials/header.html.twig" %}
        {% block content %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
