{% extends '@Blog/layout.html.twig' %}


{% block title %}BlogBundle : Site2 : Show{% endblock %}

{% block content %}
	<h1>page Show - {{ id }}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aperiam optio, saepe facere laudantium quo rem neque quis voluptates iusto itaque magni libero expedita odio perspiciatis aliquid vel soluta harum sapiente placeat quod vitae nostrum repellendus voluptate. Quos a error natus fugiat veniam pariatur facere voluptate soluta distinctio dolor quo, consequatur, placeat voluptas sed explicabo velit. Quia harum earum rem enim nesciunt laudantium possimus pariatur, minus asperiores voluptates tenetur veritatis, numquam ullam illo molestiae cupiditate beatae aut tempore debitis, ipsum obcaecati, hic officiis. Quod ratione quibusdam assumenda mollitia inventore impedit minima deserunt, magni, ipsam culpa quia earum animi quos.</p>
{% endblock %}