{% extends 'base.html.twig' %}

{% block content %}
	{# 
	{% for post in posts %}
	    <h1>post.titre</h1>
	    <p>post.description</p>
	    <h2>post.active</h2>
	    <h3>post.slug</h3>
	{% endfor %}
	<br>
	<br>
	<br><br>
	<hr>
	 #}
	<h3>page show post</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt voluptatibus deleniti natus reiciendis consequatur voluptate mollitia magni eligendi animi, corrupti dignissimos eius enim voluptatum ea, similique, obcaecati quasi quas modi nesciunt maiores vitae. Quod veniam necessitatibus, velit nam quisquam odio doloribus numquam sapiente tempore obcaecati distinctio labore porro temporibus nulla dolores! Optio aliquid ab fugiat eius similique architecto laboriosam distinctio maxime, tempora impedit, minus dolor cumque quibusdam. Provident inventore repellendus vel expedita a, minima similique minus iste perferendis vitae! Quas quaerat eaque consequuntur inventore voluptas voluptatibus provident nesciunt? Illum dolore rem, mollitia inventore vel rerum placeat officiis repudiandae labore. Quae illum, a commodi accusantium, iure deleniti. Similique tempora, accusamus odio dolorum, eveniet debitis magnam eaque at provident harum numquam, quisquam earum nisi beatae facilis sed ipsa commodi ea! Et ad perspiciatis optio animi quos, ab numquam doloribus velit veritatis molestias possimus a reiciendis ex veniam nesciunt quaerat, quis at quam sit voluptatum delectus? Quaerat modi beatae odit, adipisci fuga optio! Rerum a consectetur, possimus, nulla optio illum impedit fuga assumenda aperiam sit id unde mollitia reprehenderit voluptatibus. Libero fugit voluptatem quidem animi eaque sequi consectetur molestiae sed nihil. Commodi voluptatibus ipsa accusantium quis incidunt aliquid dolorem eum nulla maxime.</p>

{% endblock %}
