<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% block content %}
		<h1>Ke suis dans Master Page</h1>	
		{% endblock %}
		{% block footer %}	{% endblock %}
	</body>
</html>