<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{asset("css/bootstrap.min.css")}}">
		{% block stylesheets %} {% endblock %}
	</head>
	<body>

		{% include "@Blog/partials/menu.html.twig" %}
	

		<div class="container">
		{% block content %}{% endblock %}
		</div>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   		<script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>